<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Ai Pet</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.ico') }}" sizes="32x32" />
</head>
<body>
    <h1>Ai-Pet: image semi automatic blending process</h1>
    <p>This demo is used to test the process using user <b>feedback</b></p>
    <section>
        <div>
            {% set canvasConfigs={'sourceImage': 'Source Image',
                                'targetImage': 'Target Image'} %}
            {% for id, name in canvasConfigs.items() %}
                {% with id=id, name=name%}
                    {% include "draw.html" %}
                {% endwith %}
            {% endfor %}
        </div>
        <div>
            {% set canvasConfigs={'maskImage': 'Mask Image',
                    'blendImage': 'Blend Image'} %}
            {% for id, name in canvasConfigs.items() %}
                {% with id=id, name=name%}
                    {% include "draw.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </section>
    <section>
    {% set buttonConfigs={'uploadSourceImage':'Upload Source Image',
                'uploadTargetImage':'Upload Target Image',
                'predictMask':'Predict Mask', 'blendImages':'Blend Images'} %}
    {% for id, name in buttonConfigs.items() %}
        {% if 'upload' in id %}
            <input type="file" id={{id}} onchange="buttonOnChange(this)" accept="image/*"></input>
        {% else %}
            <input type="button" id={{id}} onclick="buttonOnClick(this)" value={{name}}></input>
        {% endif %}
    {% endfor %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
</body>
</html>